<div *ngIf="connectionStatus === 'DISCONNECTED'">
  <h1 mat-dialog-title>Actualmente sin conexion a la lectora</h1>
  <mat-dialog-content>
    Favor mover el botón ubicado en la parte superior de la lectora para el icono <mat-icon>bluetooth</mat-icon>
    <p style="font-size: 14px">
      Verificar el número serial (S/N) en la parte trasera de lectora, ya que con estos se va a identificar el
      dispositivo para establecer la conexión bluetooth.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="newConnection()" mat-raised-button color="accent">Establecer
      conexión</button>
  </mat-dialog-actions>

</div>


<div *ngIf="connectionStatus === 'IDLE'">
  <h1 mat-dialog-title>Actualmente la lectora esta en modo reposo</h1>
  <mat-dialog-content>
    Favor presione el boton ubicado en el lateral derecha de la lectora para activar nuevamente la lectora
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="newConnection()" mat-raised-button color="accent">Establecer conexión</button>
  </mat-dialog-actions>

</div>
