<div id="devices" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" style="padding-top: 10px; max-height: 160px" fxLayout="column" fxLayoutAlign="center center"
      fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div *ngIf="(deviceConnectionStatus$ | async) === 'CONNECTED'" class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">bluetooth</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{deviceName$ | async}}</span>
      </div>

      <div *ngIf="(deviceConnectionStatus$ | async) !== 'CONNECTED'">
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Venta carga
          tarjeta</span>
      </div>

      <!-- / BUTTON STATUS -->

      <div style="margin-bottom: 20px" fxLayout="row" fxLayout.gt-sm="row">
        <button *ngIf="(deviceConnectionStatus$ | async) === 'CONNECTED'" mat-mini-fab style="margin-right:16px;">
          <mat-icon svgIcon="{{(batteryLevel$ | async).icon}}"></mat-icon>
        </button>
        <div *ngIf="(deviceConnectionStatus$ | async) === 'DISCONNECTED'" class="red">
          <button mat-mini-fab (click)="newConnection()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <div *ngIf="(deviceConnectionStatus$ | async) === 'IDLE'" class="gray">
          <button mat-mini-fab (click)="newConnection()">
            <mat-icon>report_off</mat-icon>
          </button>
        </div>
        <div *ngIf="(deviceConnectionStatus$ | async) === 'CONNECTED'" class="green">
          <button mat-mini-fab (click)="disconnectDevice()">
            <mat-icon>check_circle</mat-icon>
          </button>
        </div>
        <button *ngIf="(deviceConnectionStatus$ | async) === 'CONNECTING'" mat-mini-fab (click)="newConnection()">
          <mat-progress-spinner class="loader-spinner" diameter="20" mode="indeterminate">
          </mat-progress-spinner>
        </button>
      </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div style="margin-top: 30px" class="content-card mat-white-bg">
      <div style="margin: 20px" fxLayout="row" fxLayout.gt-sm="row">
          <mat-icon style="width: 60px; font-size: 50px">credit_card</mat-icon>
          <div fxLayout="column" fxLayout.gt-sm="column">
            <mat-form-field>
              <input matInput placeholder="UIID" value="{{uiid}}">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Saldo" value="0$">
            </mat-form-field>
          </div>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="column">
        <div fxLayout="row" fxLayout.gt-sm="row">
          <button class="pos-button" mat-raised-button color="primary">2.000$</button>
          <button class="pos-button" mat-raised-button color="primary">5.000$</button>
          <button class="pos-button" mat-raised-button color="primary">10.000$</button>
        </div>
        <div fxLayout="row" fxLayout.gt-sm="row">
          <button class="pos-button" mat-raised-button color="primary">15.000$</button>
          <button class="pos-button" mat-raised-button color="primary">20.000$</button>
          <button class="pos-button" mat-raised-button color="primary">30.000$</button>
        </div>
        <div fxLayout="row" fxLayout.gt-sm="row">
          <button class="pos-button" mat-raised-button color="primary">40.000$</button>
          <button class="pos-button" mat-raised-button color="primary">50.000$</button>
          <button class="pos-button" mat-raised-button color="primary">Otro Valor</button>
        </div>
      </div>
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>


