<div id="devices" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" style="padding-top: 10px; max-height: 160px" fxLayout="column" fxLayoutAlign="center center"
      fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div *ngIf="connectionStatus === 'CONNECTED'" class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">bluetooth</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{afccTittle}}</span>
      </div>

      <div *ngIf="connectionStatus !== 'CONNECTED'">
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Venta carga
          tarjeta</span>
      </div>

      <!-- / BUTTON STATUS -->

      <div style="margin-bottom: 20px" fxLayout="row" fxLayout.gt-sm="row">
        <button *ngIf="connectionStatus === 'CONNECTED'" mat-mini-fab style="margin-right:16px;">
          <mat-icon svgIcon="{{batteryLevelIcon}}"></mat-icon>
        </button>
        <div *ngIf="connectionStatus === 'DISCONNECTED'" class="red">
          <button mat-mini-fab (click)="newConnection()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <div *ngIf="connectionStatus === 'IDLE'" class="gray">
          <button mat-mini-fab (click)="newConnection()">
            <mat-icon>report_off</mat-icon>
          </button>
        </div>
        <div *ngIf="connectionStatus === 'CONNECTED'" class="green">
          <button mat-mini-fab (click)="newConnection()">
            <mat-icon aria-label="Example icon-button with a heart icon">check_circle</mat-icon>
          </button>
        </div>
        <button *ngIf="showLoaderSpinner" mat-mini-fab (click)="newConnection()">
          <mat-progress-spinner *ngIf="showLoaderSpinner" class="loader-spinner" diameter="20" mode="indeterminate">
          </mat-progress-spinner>
        </button>
      </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div  style="margin-top: 30px" class="content-card mat-white-bg">
      <h3>Uiid: {{uiid}}</h3>
      <div class="button-row">
        <button mat-button>Basic</button>
        <button (click)="getUiid()" mat-button color="primary">Get UIID</button>
      </div>

      <!-- The Modal -->
      <div *ngIf="connectionStatus !== 'CONNECTED'" class="modal">

        <!-- Modal DISCONNECTED -->
        <mat-card *ngIf="connectionStatus === 'DISCONNECTED'" class="modal-content scrollable-content">
          <mat-card-header>
            <mat-card-title style="font-size: 22px">Actualmente sin conexion a la lectora</mat-card-title>
          </mat-card-header>
          <mat-card-content style="height: 200px; overflow-y: auto;">
            <p style="font-size: 14px">
              Favor mover el botón ubicado en la parte superior de la lectora para el icono <mat-icon>bluetooth</mat-icon>
            </p>

            <p style="font-size: 14px">
              Verificar el número serial (S/N) en la parte trasera de lectora, ya que con estos se va a identificar el
              dispositivo para establecer la conexión bluetooth.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="newConnection()" style="margin: 20px; font-size: 20px" mat-raised-button color="accent">Establecer
              conexión</button>
          </mat-card-actions>
        </mat-card>

        <!-- Modal IDLE -->
        <mat-card *ngIf="connectionStatus === 'IDLE'" class="modal-content">
            <mat-card-header>
              <mat-card-title style="font-size: 30px">Actualmente la lectora esta en modo reposo</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p style="font-size: 20px">
                Favor presione el boton ubicado en el lateral derecha de la lectora para activar nuevamente la lectora
              </p>
            </mat-card-content>
          </mat-card>

      </div>
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
